
.calendar-container{
    display: flex;
    width: 100%;
}

.day-container {
    border-right: 1px solid #666;
    text-align: center;
    width: 20%;
}

.room-container {
    display: flex;
    width: 100%;
}

.room-coloumn{
    background: #ccc;
    width: 20%;
    border-right: 1px solid #eeeeee;
    height: 100%;
}

.timeslot {
    width: 100%;
    height: 40px;
    padding: 0;
    background-color: #DDDDDD;
    border-bottom: 1px solid #ccc;
}

.timeslot:hover {
    opacity: .8;
}
.booked {
    background: #6A8EFE;
}

