.modal-container, .delete-confirmation {
  font-family: sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(50, 50, 50, 0.7);
}

.modal, .question {
  margin: 30vh auto;
  width: 400px;
  border-radius: 5px;
  padding: 30px;
  background: #f9f9f9;
}

.close {
  width: 100%;
  text-align: right;
  cursor: pointer;
}

.delete, .yes {
  background: none;
  background-color: red;
  color: #fff;
  border: 0;
  border-radius: 30px;
  font-size: 15px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.no {
    background: none;
  background-color: green;
  color: #fff;
  border: 0;
  border-radius: 30px;
  font-size: 15px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.description {
  margin: 10px 0;
}

.error-message {
  color: red;
}
