.save-modal {
  font-family: sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(50, 50, 50, 0.7);
}

.form-container {
  margin: 30vh auto;
  width: 400px;
  border-radius: 5px;
  padding: 30px;
  background: #f9f9f9;
}

.save {
  background: none;
  background-color: #4F9DFB;
  color: #fff;
  border: 0;
  border-radius: 30px;
  font-size: 15px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.time-selectors {
    display: inline-block;
}

.close {
  width: 100%;
  text-align: right;
  cursor: pointer;
}
