app-day {
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
}
.left-pane {
    width: 10%;
    display: inline-block;
    height: 100%;
}
.right-pane {
    width: 90%;
    display: inline-block;
    position: absolute;
}
.date-input input {
    width: 90%;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.time-axis {
    width: 100%;
    display: inline-block;
}
.time-stamp {
    height: 30px;
    padding-top: 10px;
    widows: 100%;
    border-bottom: 1px solid #cccccc;
}
.hour {
    border-top: 1px solid #333;
}