<div class="left-pane">
  <div class="date-input">
    <mat-form-field>
      <input matInput type="text" id="date" placeholder="Date" [matDatepicker]="picker" [formControl]="date" placeholder="Choose a date" (dateChange)="displayDate($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <app-time-axis></app-time-axis>
</div>
<div class="right-pane">
  <app-day></app-day>
</div>
<div *ngIf="showModal" class="save-modal">
  <div class="form-container">
    <h2>Book meeting:</h2>

    <label for="name">Title</label>
    <input id="name" type="text">
    <button class="save" (click)="showModal = !showModal">Save</button>
  </div>
</div>
<button class="book-me" (click)="showModal = !showModal">Book Me</button>
