<div class="left-pane">
  <div class="date-input">
    <mat-form-field>
      <input matInput type="text" id="date" placeholder="Date" [matDatepicker]="picker" [formControl]="date" placeholder="Choose a date" (dateChange)="displayDate($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <app-time-axis></app-time-axis>
</div>
<div class="right-pane">
  <app-day></app-day>
</div>

<button class="book-me" (click)="showModal = !showModal">Book Me</button>
