
<div class="calendar-container">
  <div class="day-container">
    <div class="title">Monday</div>
    <div class="room-container">
    <div>101</div>
    <div>103</div>
    <div>113</div>
    <div>303</div>
    <div>313</div>
  </div>
  </div>
  <div class="day-container">
      <div class="title">Tuesday</div>
      <div class="room-container">
          <div>101
            <app-timeslot></app-timeslot>
            <app-timeslot></app-timeslot>
            <app-timeslot></app-timeslot>
            <app-timeslot></app-timeslot>
            <app-timeslot></app-timeslot>

          </div>
          <div>103</div>
          <div>113</div>
          <div>303</div>
          <div>313</div>
        </div>
    </div>
    <div class="day-container">
        <div class="title">Wednesday</div>
        <div class="room-container">
            <div>101</div>
            <div>103</div>
            <div>113</div>
            <div>303</div>
            <div>313</div>
          </div>
      </div>
      <div class="day-container">
          <div class="title">Thursday</div>
          <div class="room-container">
              <div>101</div>
              <div>103</div>
              <div>113</div>
              <div>303</div>
              <div>313</div>
            </div>
        </div>
        <div class="day-container">
            <div class="title">Friday</div>
            <div class="room-container">
                <div>101</div>
                <div>103</div>
                <div>113</div>
                <div>303</div>
                <div>313</div>
              </div>
          </div>
</div>
