app-day {
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}

.left-pane {
  width: 13%;
  display: inline-block;
  height: 100%;
  padding: 30px;
}

.right-pane {
  width: 81%;
  display: inline-block;
  position: absolute;
  padding: 30px;
}

.title {
  font-size: 25px;
  font-family: sans-serif;
}

.day-container {
  width: 100%;
  margin-top: 10px;
}

.room-container {
  display: inline;
}
